<h2>Inbox</h2>
<p>Use the Inbox to collect To Do items when you are not yet ready to decide where to put them.
	The Inbox is the natural destination for To Do items that you enter in the Quick Entry Dialog.</p>

<h2>Today</h2>
<p>
	Use Today to create a list of all To Do items you intend to complete today.
	The number of unfinished To Do items appears next to Today icon.
</p>

<h2>Next</h2>
<p>
	The Next list contains all upcoming To Do items.
	Both single To Do items and those from active projects are displayed here.
</p>

<h2>Scheduled</h2>
<p>
	Use Scheduled for repeating To Do items or those you want to start at a later date.
	Projects can also scheduled.
</p>

<h2>Someday</h2>
<p>
	Use someday for To Do items you cannot commit to right now, but might become interesting sometime in the future.
	You can put projects or areas into this list as well.
</p>

<h2></h2>